body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #FFF;
}

#myTable {
    position: relative;
    margin: auto;
    padding: auto;
}
/*
#person {
    position: absolute;
    top: 460px;
    left: 0;
    color: black;
    z-index: 10;
}
*/
td[data-value="0"] {
    background-color: #FFF;
    width: 40.011px;
    height: 40px;
}

td[data-value="1"] {
    background-color: #000;
}
/*
.fixed-column {
    width: 40.011px;
    height: 40px;
}

#my-table {
    position: relative;
    width: 920.25px;
    height: 600px;
    margin: auto;
}
*/