body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #000;
}

#mazeTitle {
    text-align: center;
}

#myTable {
    position: relative;
    margin: auto;
    padding: auto;
}

table {
    position: absolute;
    border-collapse: collapse;
    width: auto;
    height: auto;
}

td {
    width: 1vw;
    height: 1vw;
}

td[data-value="1"] {
    background-color: #fff;
}

td[data-value="0"] {
    background-color: #000;
    scale: 1.5;
    padding: 0.8vw;
    z-index: 10;
}
td[data-value="SC"] {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    scale: 1.5;
    padding: 0.8vw;
    z-index: 11;
}